@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Days+One&family=Edu+SA+Beginner&family=Nova+Mono&family=Orbitron&family=Poppins&family=Press+Start+2P&family=Roboto&family=Roboto+Mono&family=Russo+One&display=swap");

:root {
    
    --clr-primary: #fafafa;
    --clr-secondary: #5e8e56;
    --clr-teritary: #d5c8af;
    --clr-shadow: #d8d8d8;
    --clr-font: #1b241a;
    --lnk-hover: #e05e44;
   
  
    --fnt-sze-primary: 12px;
    --logo-height: 80px;
    --logo-height-2: 50px;
  
    
    --cpw-logo: 60px;
    --cph-logo: 38px;
    --cp-font-default: 11px;
    
    --max-w:800px;
    --max-h: 1120px;
  }


  .bottom_content{
    display: flex;
    gap: 10px;
    overflow: auto;
    height: 100%;
  }
  .left_configuration, .right_configuration{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
    overflow: auto;
  }
  .top_nav{
    display: flex;
    padding: 10px 20px 0px 20px;
    gap: 10px;

  }
  .top_nav nav{
    background: var(--clr-secondary);
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
    color: white;
    cursor:pointer;
  }
  .top_nav nav:hover{
    background: rgb(181, 211, 161);
  }
  .bottom_content{
    height: 90%;
    padding: 10px 20px;
  }
  .step_one, .step_two{
    border: 3px solid var(--clr-secondary);
    border-radius: 5px;
    padding: 10px 30px;
    background: #d5e8d1;
    
  }
.one_box{
  display: flex;
  
  
}
.o_left{
  width: 50%;

}
.o_right{
  position: relative;

  max-height: 200px;
}
.current_class{
  max-height: 150px;
  margin-bottom: 10px;
  overflow: auto;

}
.step_one select{
  height: 30px;
  width: 150px;
  outline:none;
  border-radius: 3px;
}

.step_one button{
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  width: 130px;

}
.step_one button:hover, .btn button:hover{
  background: rgb(238, 238, 238);
}
.configs{
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.configs input, .model_name{
  padding: 3px 10px;
  border-radius: 3px;
  border: none;
  border-bottom: 3px solid white;
  
  background: none;

}
.btn{
  position: relative;
  display: flex;
  justify-content: end;
  margin-top: 10px;
  width: 100%;
  gap: 10px;

}
.btn button{
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;

  width: 130px;
}
.two_class_ol{
  display: flex;
  gap: 20px;
}
.testing{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.camera_box{
  width: 250px;
  height: 250px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.testing span{
  padding: 10px;
  width: 100%;
}
.details_container{
  display: flex;
  gap: 20px;
}
.result_box button{
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}
.result_box button:hover{
  background: #7b9c75;
  color: white;
}

  /*phone size*/
  @media (max-width: 767px) {
    .main-content{
      max-height: 100vh;
      overflow: auto;
    }
    .bottom_content{
      display: flex;
      flex-direction: column;
      gap: 10px;
      
    }
    .left_configuration, .right_configuration{
      width: 100%;
      height: 100%;
    }
  }